<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>DTH Backoffice</title> {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/backoffice.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Barre latérale -->
<div class="sidebar">
    <a href="{{ path('admin') }}" style="text-decoration: none; color: #fff;">
        <h2>DTH</h2>
    </a>
    <a class="liens" href="{{ path('admin_donation') }}">Validation des donations</a>
    <a class="liens" href="{{ path('admin_messagerie')}}">Messagerie</a>
    <a class="liens" href="{{ path('admin_donations')}}">Gestion des donations</a>
    <a class="liens" href="{{ path('admin_user')}}">Gestion des utilisateurs</a>
    <a class="liens" href="{{ path('admin_center')}}">Gestion des centres</a>

    <!-- Logout boutton -->
    <a class="liens logout" href="{{ path('logout') }}">Déconnexion</a>
    <a class="liens" href="{{ path('home')}}" style="margin-top:30px">Gestion des centres</a>
</div>

    {% block body %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
