{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <h1>Modifier les informations de la donation</h1>
    <form method="post" action="{{ path('admin_donations_update', {'id': donation.id}) }}">
        {# Ajoutez ici les champs de formulaire pour éditer les informations de la donation #}
        <div class="form-group">
            <label for="donor_first_name">Prénom du donneur :</label>
            <input type="text" id="donor_first_name" name="donorFirstName" class="form-control" value="{{ donation.donorFirstName }}" required>
        </div>

        <div class="form-group">
            <label for="donor_last_name">Nom du donneur :</label>
            <input type="text" id="donor_last_name" name="donorLastName" class="form-control" value="{{ donation.donorLastName }}" required>
        </div>

        <div class="form-group">
            <label for="collection_center">Centre de collecte :</label>
            <select id="collection_center" name="collectioncenter" class="form-control" required>
                {% for center in centers %}
                    <option value="{{ center.name }}" {% if center.name == donation.collectionCenter %}selected{% endif %}>{{ center.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
{% endblock %}
