{% extends 'admin/base.html.twig' %}

{% block title %}Nouveaux Messages{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Nouveaux Messages</h1>

    <table>
        <thead>
            <tr>
                <th>De</th>
                <th>Sujet</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.user.firstName }} {{ message.user.lastName }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.createdAt|date('d/m/Y H:i') }}</td>
                    <td>
                        <a href="{{ path('message_details', {id: message.id}) }}">Voir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
