{% extends 'base.html.twig' %}

{% block title %}Mon profile{% endblock %}

{% block body %}
{% dump(user) %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{ user.getFirstname() }} {{ user.getLastname() }}</span><span class="text-black-50">{{ user.getEmail() }}</span><span> </span></div>
        </div>
        <div class="col-md-7">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Mon profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 mb-3">
                        <label class="labels">Nom</label>
                        <input type="text" class="form-control" placeholder="Nom" value="{{ user.getLastname() }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="labels">Prénom</label>
                        <input type="text" class="form-control" placeholder="Prénom" value="{{ user.getFirstname() }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="labels">Addresse</label>
                        <input type="text" class="form-control" placeholder="enter address line 1" value="{{ user.getAdress() }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="labels">Code Postal</label>
                        <input type="text" class="form-control" placeholder="country" value="{{ user.getPostalCode() }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="labels">Commune</label>
                        <input type="text" class="form-control" value="{{ user.getCity() }}" placeholder="state">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="labels">Poids</label>
                        <input type="text" class="form-control" placeholder="country" value="{{ user.getWeight() }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="labels">Taille</label>
                        <input type="text" class="form-control" value="{{ user.getHeight() }}" placeholder="state">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="labels">Numéro de téléphone</label>
                        <input type="text" class="form-control" placeholder="country" value="{{ user.getPhoneNumber() }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="labels">Age</label>
                        <input type="text" class="form-control" value="{{ user.getAge() }}" placeholder="state">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="labels">Email</label>
                        <input type="text" class="form-control" placeholder="enter email id" value="{{ user.getEmail() }}">
                    </div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="p-3 py-5">
                <div class="col-md-12 mb-3">
                    <label class="labels">Donations :</label>
                    <input type="text" class="form-control" placeholder="additional details" value="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
