{% extends 'base.html.twig' %}

{% block title %}Hello CenterController!{% endblock %}

{% block body %}
    {% block stylesheets %}
    <!-- Icons font CSS-->
    <link href="{{ asset('css/center.css') }}" rel="stylesheet" media="all">
    {% endblock %}

    <div class="container">
        <div class="row">
            {% for center in centers %}
                <div class="col-md-6 mb-4">
                    <div class="card custom-card">
                        <div class="card-banner">
                            <img src="{{ asset('path/to/') ~ center.image }}" class="card-img-top w-100" alt="Image">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title text-left">{{ center.address }}</h5>
                                <h5 class="card-title text-right">{{ center.city }}</h5>
                            </div>
                            <p class="card-text">Places disponibles : {{ center.availableSeats }}</p>
                            <a href="#" class="btn btn-danger">Prendre Rendez-vous</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
