{% extends 'base.html.twig' %}

{% block title %}Mes rendez-vous{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/appointments.css') }}">
{% endblock %}

{% block body %}   

   <div class="content">
    
    <div class="container">
      <h2 class="mb-5">Liste de mes rendez-vous</h2>
      

      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>  

              <th scope="col">
                <label class="control control--checkbox">
                  <input type="checkbox"  class="js-check-all"/>
                  <div class="control__indicator"></div>
                </label>
              </th>
              
              <th scope="col">Date</th>
              <th scope="col">Heure</th>
              <th scope="col">Groupe sanguin</th>
              <th scope="col">Médication</th>
              <th scope="col">Centre de collecte</th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in appointments %}
                <tr scope="row">
                    <th scope="row">
                        <label class="control control--checkbox">
                            <input type="checkbox"/>
                            <div class="control__indicator"></div>
                        </label>
                    </th>
                    <td>{{ appointment.appointmentDateTime|date('d/m/Y') }}</td>
                    <td>{{ appointment.appointmentDateTime|date('H:i') }}</td>
                    <td>{{ appointment.bloodGroup }}</td>
                    <td>{{ appointment.medication ? 'Oui' : 'Non' }}</td>
                    <td>{{ appointment.collectionCenter.name }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
